default:
    autoload:
        '': %paths.base%/features/contexts
        'fixtures': %paths.base%/features/contexts
        'App': %paths.base%/features/contexts/fixtures/tmp
    suites:
        default:
            path: %paths.base%/features
            context: FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            base_url:    'http://localhost:8080/app.php'
            selenium2:   ~
            default_session: selenium2
            javascript_session: selenium2
            show_auto: true
            show_cmd: chrome %s
