<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "vendor/.composer/autoload.php" >

    <testsuites>
        <testsuite name="Knp Rad intro suite">
            <directory suffix="Test.php">src/KnpRad/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <directory>Tests</directory>
                <directory>views</directory>
                <directory>config</directory>
                <directory>public</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
