{% verbatim -%}
{% extends '::base.html.twig' %}

{% block body %}

<form method="POST" action="" {{ form_enctype(form) }} class="form form-horizontal">
    {{ form_widget(form) }}
    <input type="submit" />
</form>

{% endblock body %}

{%- endverbatim -%}
